<div class="container">
    <div class="burger-section">
        <div class="row">
            <div class="col-md-7 menu-section">
                {{> menu}}
            </div>
            <div class="col-md-5">
                {{> accordion}}
            </div>
        </div>
    </div>
    {{> modal}}
</div>